@using shorter.Models
@model LoginAndRegisterViewModel
@{
    ViewBag.Title = "Log in & Register";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#" class="active" id="login-form-link">Login</a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" id="register-form-link">Register</a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "login-form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.LoginViewModel.Email, new { @class = "form-control", tabindex = "1", placeholder = "Your email" })
                                @Html.ValidationMessageFor(m => m.LoginViewModel.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.LoginViewModel.Password, new { @class = "form-control", tabindex = "2", placeholder = "Your password"})
                                @Html.ValidationMessageFor(m => m.LoginViewModel.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                    </div>
                                </div>
                            </div>
                        }
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "register-form", style = "display: none;" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.TextBoxFor(c => c.RegisterViewModel.Email, new { @class = "form-control", placeholder = "Your email"})
                                @Html.ValidationMessageFor(m => m.RegisterViewModel.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(c => c.RegisterViewModel.Password, new { @class = "form-control", placeholder = "Your password" , name = "Password" })
                                @Html.ValidationMessageFor(m => m.RegisterViewModel.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(c => c.RegisterViewModel.ConfirmPassword, new { @class = "form-control", placeholder = "Please confirm your password" })
                                @Html.ValidationMessageFor(m => m.RegisterViewModel.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script>
        $(function () {
            $('#login-form-link').click(function (e) {
                $("#login-form").delay(100).fadeIn(100);
                $("#register-form").fadeOut(100);
                $('#register-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });
            $('#register-form-link').click(function (e) {
                $("#register-form").delay(100).fadeIn(100);
                $("#login-form").fadeOut(100);
                $('#login-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });
        });
    </script>
}